
AerospikeDemo/AerospikeDemo/obj/
AerospikeDemo/AerospikeDemo/bin/

AerospikeDemo/AppTutorial/obj/
AerospikeDemo/AppTutorial/bin/

AerospikeDemo/AppTutorialThirparty/bin/
AerospikeDemo/AppTutorialThirparty/obj/